<template>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><router-link to="/users">Users</router-link></li>
                <li class="breadcrumb-item active" aria-current="page">{{ fullName }}</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-3 text-center">
                <img v-bind:src="getAvatarUrl(user.picture)" class="img-thumbnail rounded float-left" v-bind:alt="fullName">
            </div>
            <div class="col-6">
                <h2>{{ fullName }}</h2>
                <p class="font-italic">{{ user.company }}</p>
                <p class="font-italic">{{ user.address }}</p>
                <p><a v-bind:href="'mailto: ' + user.email">{{ user.email }}</a></p>
                <p><a v-bind:href="'tel: ' + user.phone">{{ user.phone }}</a></p>
            </div>
            <div class="col-3 text-center font-weight-bold">
                {{ user.balance }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <blockquote class="blockquote">
                    <p class="mb-0">{{ user.about }}</p>
                    <footer class="blockquote-footer">{{ user.registered }}</footer>
                </blockquote>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "user-show",
    model: {
      prop: 'user',
      event: 'change'
    },
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    computed: {
      fullName() {
        return this.user.firstName + ' ' + this.user.lastName
      },
    },
    methods: {
      getAvatarUrl(avatar) {
        return avatar || 'http://images.vfl.ru/ii/1519336973/067fa47a/20696961_m.png';
      },
    }
  }
</script>