<template>
    <div>
        <hr>
        <h4 class="mb-3">Edit user</h4>
        <form class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" :class="{'input': true, 'is-invalid': errors.has('firstName') }" name="firstName" id="firstName" v-model="user.firstName" v-validate.initial="'required'">
                    <div v-show="errors.has('firstName')" class="invalid">
                        Valid first name is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" :class="{'input': true, 'is-invalid': errors.has('lastName') }" name="lastName" id="lastName" v-model="user.lastName" v-validate.initial="'required'">
                    <div v-show="errors.has('lastName')" class="invalid">
                        Valid last name is required.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="company">Company <span class="text-muted">(Optional)</span></label>
                <input type="email" class="form-control" :class="{'input': true, 'is-invalid': errors.has('company') }" name="company" id="company" v-model="user.company" v-validate.initial="'required'">
                <div v-show="errors.has('company')" class="invalid">
                    Please enter a valid company for shipping updates.
                </div>
            </div>

            <div class="mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" :class="{'input': true, 'is-invalid': errors.has('address') }" name="address" id="address" v-model="user.address" v-validate.initial="'required'">
                <div v-show="errors.has('address')" class="invalid">
                    Please enter your shipping address.
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Email <span class="text-muted">(Optional)</span></label>
                <input type="email" class="form-control" :class="{'input': true, 'is-invalid': errors.has('email') }" name="email" id="email" v-model="user.email" placeholder="you@example.com" v-validate.initial="'required|email'">
                <div v-show="errors.has('email')" class="invalid">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>

            <div class="mb-3">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" :class="{'input': true, 'is-invalid': errors.has('phone') }" name="phone" id="phone" v-model="user.phone" v-validate.initial="'required'">
                <div v-show="errors.has('phone')" class="invalid">
                    Please enter your phone.
                </div>
            </div>

            <div class="mb-3">
                <label for="registered">Date created</label>
                <date-picker name="registered" id="registered" v-model="user.registered"/>
            </div>

            <div class="mb-3">
                <label>About</label>
                <editor-html v-model="user.about"></editor-html>
            </div>
            <image-uploader v-model="user.picture"></image-uploader>
            <slot name="buttons"></slot>
        </form>
        <br><br><br>
    </div>
</template>

<script>
  import Vue from 'vue';
  import VeeValidate from 'vee-validate';

  import ImageUploader from '@/components/Common/Form/ImageUploader'
  import DatePicker from '@/components/Common/Form/DatePicker'
  import EditorHtml from '@/components/Common/Form/EditorHtml'

  Vue.use(VeeValidate);

    export default {
        name: "user-form",
        inject: ['$validator'],
        components: {
          ImageUploader,
          DatePicker,
          EditorHtml,
        },
        model: {
            prop: 'user',
            event: 'change'
        },
        props: {
            user: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style>
    .invalid{
        color: red;
    }
</style>

