<template>
    <div class="container">
        <user-show v-model="user"></user-show>
        <template v-if="!flagEdit">
            <button v-on:click="toggleUserEdit" class="btn btn-success">Edit</button>
            <button v-on:click="remove" class="btn btn-danger">Delete</button>
        </template>
        <template v-else>
            <user-form  v-model="user">
                <div slot="buttons">
                    <button type="button" class="btn btn-success" v-on:click="save">Save</button>
                    <button type="button" class="btn btn-warning" v-on:click="toggleUserEdit">Close</button>
                </div>
            </user-form>
        </template>
    </div>
</template>

<script>
    import axios from '@/axios'
    import UserShow from '@/components/User/UserShow'
    import UserForm from '@/components/User/UserForm'


    export default {
        name: "user-edit",
        props: ['id'],
        components: {
          UserShow,
          UserForm
        },
        data(){
            return{
                user: {},
                flagEdit: false,
            }
        },
        mounted() {
            this.loadUser()
        },
        computed: {
            url(){
                return '/users/' + this.id
            }
        },
        methods: {
            loadUser(){
                axios.get(this.url)
                    .then(({ data }) => {
                        this.user = data
                    })
                    .catch(response => {
                        console.log(response)
                        console.log('Error load JSON')
                    })
            },
            save() {
                this.$validator.validateAll()
                if (this.errors.any()) {
                    // eslint-disable-next-line
                    alert('Fields aren\'t filled!')
                    return;
                }
                // Сохранение результатов
                axios.patch(this.url, this.user)
                    .then(() => {
                        this.$router.push('/users/')
                })
            },
            remove(){
                const confirmed = confirm(`Delete user ${this.user.firstName}?`);

                if (!confirmed) {
                    return;
                }
                // Удаление записи
                axios.delete(this.url)
                    .then(() => {
                        this.$router.push('/users/')
                    })
            },
            toggleUserEdit(){
                this.flagEdit = !this.flagEdit
            }
        }
    }
</script>