<template>
    <div class="container">
        <user-form  v-model="user">
            <div slot="buttons">
                <button type="button" class="btn btn-success" v-on:click="save">Save</button>
                <router-link to="/users" tag="button" type="button" class="btn btn-warning">
                    Cancel
                </router-link>
            </div>
        </user-form>
    </div>
</template>

<script>
  import axios from '@/axios'
  import UserForm from '@/components/User/UserForm'

  const defaultUser = {
    id: null,
    guid: '',
    isActive: false,
    balance: '',
    picture: 'http://placehold.it/128x128',
    age: 0,
    eyeColor: '',
    firstName: '',
    lastName: '',
    company: '',
    email: '',
    phone: '',
    address: '',
    about: '',
    registered: ''
  }

  export default {
    name: "user-add",
    components: {
      'user-form': UserForm
    },
    data: () => ({
      user: defaultUser,
    }),
    methods: {
      save() {
        this.$validator.validateAll()

        console.log(this.errors.any())

        if (this.errors.any()) {
          // eslint-disable-next-line
          //alert('Fields aren\'t filled!')
          return;
        }
        // Сохранение результатов
        axios.post('/users', this.user)
          .then(({ data }) => {
            this.$router.push('/users/' + data.id)
          })
      },
    }
  }
</script>