<template>
    <div class="container">
        <table-grid :url="url">
            <template slot="button">
                <router-link to="/users/add" tag="button" type="button" class="btn btn-warning">
                    Add user
                </router-link>
            </template>
            <tr slot="header">
                <th scope="col">id</th>
                <th scope="col">Picture</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Company</th>
            </tr>
            <template slot="row" slot-scope="props">
                <th scope="row"><router-link :to="{ name: 'user-edit', params: { id: props.id }}">{{ props.id }}</router-link></th>
                <td><img width="128" v-bind:src="getAvatarUrl(props.picture)"></td>
                <td>{{ props.firstName }}</td>
                <td>{{ props.lastName }}</td>
                <td>{{ props.company }}</td>
            </template>
        </table-grid>
    </div>
</template>

<script>
    import axios from '@/axios'

    export default {
        name: "user-list",
        components: {
          TableGrid: () => import('@/components/Common/Table/TableGrid')
        },
        data: () => ({
          url: '/users',
        }),
        methods:{
          getAvatarUrl(avatar){
            return avatar || 'http://images.vfl.ru/ii/1519336973/067fa47a/20696961_m.png';
          },
        }

    }
</script>