<template>
  <div id="app">
    <h1 class="text-center">UserPanel</h1>
    <hr>
    <ul class="nav justify-content-center">
      <router-link tag="li" class="nav-item" to="/" active-class="active" exact>
        <a class="nav-link">Index</a>
      </router-link>
      <router-link tag="li" class="nav-item" to="/users" active-class="active" exact>
        <a class="nav-link">Users</a>
      </router-link>
    </ul>
    <hr>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  li.active a{
    color: gray;
  }
</style>
