<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ДЗ №1. Группа VueJS 2018-02-19. Лисин Сергей.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body>
<div id="app">
    <div class="has-text-centered">
        <h1 class="title is-1">Пользователи {{ userCount }} штук: </h1>
        <button v-on:click="toggleUsers" v-bind:class="toggleUsersClass" class="button" type="button">{{ toggleUsersButtonText }}</button>
    </div>
    <hr>
    <template v-if="flag">
        <div class="card" v-for="user in users" :key="user.id">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img v-bind:src="getAvatarUrl(user.avatar)">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">
                            {{ user.lastname }} {{ user.firstname }} {{ user.middlename }}
                        </p>
                        <p class="subtitle is-6 has-text-danger" v-if="!user.avatar">У юзера нет аватара - позор!</p>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            flag: true,
            selectedUsers: [],
            users: [{
                id: 1,
                firstname: 'Иван',
                lastname: 'Тургенев',
                middlename: 'Сергеевич',
                avatar: 'http://images.vfl.ru/ii/1519336972/3eee7387/20696956_m.png'
            },

                {
                    id: 2,
                    firstname: 'Александр',
                    lastname: 'Пушкин',
                    middlename: 'Сергеевич',
                    avatar: 'http://images.vfl.ru/ii/1519336973/8b25f13d/20696957_m.jpg'
                },

                {
                    id: 3,
                    firstname: 'Вася',
                    lastname: 'Пупкин',
                    middlename: 'Давыдович',
                    avatar: null
                },

                {
                    id: 4,
                    firstname: 'Сергей',
                    lastname: 'Лисин',
                    middlename: 'Владимирович',
                    avatar: 'http://images.vfl.ru/ii/1519336973/3a8dfd53/20696958_m.jpg'
                },

                {
                    id: 5,
                    firstname: 'Мальвина',
                    lastname: 'Блюм',
                    middlename: 'Эдуардовна',
                    avatar: 'http://images.vfl.ru/ii/1519336973/8bf864e3/20696959_m.jpg'
                },

                {
                    id: 6,
                    firstname: 'Марина',
                    lastname: 'Шпак',
                    middlename: 'Николаевна',
                    avatar: 'http://images.vfl.ru/ii/1519336973/7e0a9510/20696960_m.jpg'
                },

                {
                    id: 7,
                    firstname: 'Петр',
                    lastname: 'Алексеевич',
                    middlename: 'Кузин',
                    avatar: null
                },

            ]
        },
        computed: {
            userCount() {
                return this.users.length
            },
            toggleUsersClass(){
                return this.flag ? 'is-danger' : 'is-success';
            },
            toggleUsersButtonText(){
                return this.flag ? 'Скрыть пользователей' : 'Показать пользователей';
            }
        },
        methods: {
            toggleUsers() {
                this.flag = !this.flag
            },
            getAvatarUrl(avatar){
                return avatar || 'http://images.vfl.ru/ii/1519336973/067fa47a/20696961_m.png';
            }
        }
    })
</script>
</body>

</html>