<template>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" :class="{ disabled: selectedPage === 1 }">
                <a class="page-link" @click.prevent="prevPage()">Previous</a>
            </li>

            <li class="page-item" v-for="item in totalPages" :key="item" :class="{ active: selectedPage === item }">
                <a class="page-link" @click.prevent="selectPage(item)">{{ item }}</a>
            </li>

            <li class="page-item" :class="{ disabled: selectedPage === totalPages }">
                <a class="page-link" @click.prevent="nextPage()">Next</a>
            </li>
        </ul>
    </nav>
</template>

<script>
  export default {
    name: "table-paginator",
    model: {
      prop: 'selectedPage'
    },
    props: {
      selectedPage: {
        type: Number,
        required: true
      },
      perPage: {
        type: Number,
        required: true
      },
      total: {
        type: Number,
        required: true
      }
    },
    computed: {
      totalPages() {
        return Math.ceil(this.total / this.perPage);
      }
    },
    methods: {
      prevPage() {
        const pageNum = this.selectedPage - 1;
        if (pageNum > 0) {
          this.selectPage(pageNum);
        }
      },
      nextPage() {
        const pageNum = this.selectedPage + 1;
        if (pageNum <= this.totalPages) {
          this.selectPage(pageNum);
        }
      },
      selectPage(page) {
        this.$emit('input', page);
      }
    }

  }
</script>