<template>
    <div>
        <div class="text-right">
            <slot name="button"></slot>
        </div>
        <br>
        <table class="table table-striped table-dark">
            <thead>
                <slot name="header"></slot>
            </thead>
            <tbody>
            <tr v-for="item in filteredRows">
                <slot name="row" v-bind="item"></slot>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-2">{{ totalFilteredRows }} of {{ totalRows }}</div>
            <div class="col-8 text-center"><table-paginator v-model.number="selectedPage" :per-page="rowsPerPage" :total="totalRows" /></div>
            <div class="col-2"><table-rows-per-page v-model.number="rowsPerPage"/></div>
        </div>
    </div>
</template>

<script>
  import axios from '@/axios'
  import TableRowsPerPage from '@/components/Common/Table/TableRowsPerPage'
  import TablePaginator from '@/components/Common/Table/TablePaginator'

  export default {
    name: "table-grid",
    components:{
      TableRowsPerPage,
      TablePaginator,
    },
    data: () => ({
      list: [],
      rowsPerPage: 5,
      selectedPage: 1,
    }),
    computed: {
      totalRows() {
        return this.list.length;
      },
      filteredRows() {
        return this.list
          .filter((item, index) => {
            const startIndex = (this.selectedPage - 1) * this.rowsPerPage;
            const finalIndex = startIndex + this.rowsPerPage;
            return startIndex <= index && index < finalIndex;
          });
      },
      totalFilteredRows(){
        return this.filteredRows.length;
      }
    },
    watch: {
      rowsPerPage() {
        this.selectedPage = 1;
      }
    },
    methods: {
      loadData() {
        axios.get('/users')
          .then(({data}) => {
            this.list = data
          })
          .catch(response => {
            console.log(response)
            console.log('Ошибка подгрузки пользователей')
          })
      },
    },
    mounted(){
      this.loadData()
    }
  }
</script>