<template>
    <div class="js-datepicker">
        <input type="text" ref="datepicker" class="form-control" :value="value" :placeholder="placeholder" />
    </div>
</template>

<script>
  import flatpickr from 'flatpickr';
  import 'flatpickr/dist/flatpickr.css';

  export default {
    name: "date-picker",
    props: {
      value: {
        type: String,
        required: true
      },
      placeholder: {
        type: String,
        default: 'Select date'
      }
    },
    data: () => ({
      fp: null
    }),
    watch: {
      value: 'updateDatepicker'
    },
    methods: {
      updateDatepicker() {
        if (this.fp) {
          this.fp.setDate(this.value);
        }
      },
      initCalendar() {
        this.fp = flatpickr(this.$refs.datepicker, {
          dateFormat: 'd.m.Y',
          onChange: (selectedDates, dateStr) => {
            this.$emit('input', dateStr);
          }
        });
      }
    },
    mounted() {
      this.initCalendar();
    }
  }
</script>

<style scoped>

</style>