<template>
    <div>
        <quill-editor
                      ref="editor"
                      :content="value"
                      @change="onEditorChange($event)">
        </quill-editor>
    </div>
</template>

<script>

  import 'quill/dist/quill.core.css'
  import 'quill/dist/quill.snow.css'
  import 'quill/dist/quill.bubble.css'

  import { quillEditor } from 'vue-quill-editor'

  export default {
    name: 'editor-html',
    components: {
      quillEditor
    },
    props: {
      value: String,
      required: false
    },
    methods:{
      onEditorChange({ editor, html, text }){
        this.$emit('input', html);
      }
    }
  }
</script>