<template>
    <div>
        <brace style="height: 500px"
               :fontsize="'12px'"
               :theme="'github'"
               :mode="'json'"
               :codefolding="'markbegin'"
               :softwrap="'free'"
               :selectionstyle="'text'"
               :highlightline="true"
               v-model="value">
        </brace>

    </div>
</template>

<script>
  import Brace from 'vue-bulma-brace'

  export default {
    name: 'editor-code',
    props: {
      value: String,
      required: false
    },
    components: {
      Brace
    }
  }
</script>