<template>
    <div ref="Dropzone">
        <div class="row">
            <div class="col-4">
                <img v-if="picture" class="img-thumbnail" :src="picture" />
            </div>
            <div class="col-8">
                <input ref="file" type="file" @change="upload" hidden>
                <button type="button" class="btn btn-info" @click="select">Выбрать новую</button>
                <br>
                <input type="text" class="form-control" v-model="picture" readonly />
            </div>
        </div>
    </div>
</template>

<script>
  import axios from 'axios';
  import Dropzone from 'dropzone';
  import 'dropzone/dist/dropzone.css';

  export default {
    name: "image-uploader",
    model: {
      prop: 'picture'
    },
    props:{
      picture:{
        type: String,
        required: false
      }
    },
    data: () => ({
      url: 'https://api.imgur.com/3/image',
      client: 'ff34edb1575df27',
    }),
    methods:{
      select(){
        this.$refs.file.click();
      },
      set(picture) {
        this.$emit('input', picture);
      },
      upload(){
        const data = new FormData();
        data.append('image', this.$refs.file.files[0]);
        const config = {
          headers: {
            'Authorization': 'Client-ID ' + this.client
          }
        };
        axios.post(this.url, data, config)
          .then(response => response.data)
          .then(response => {
            this.set(response.data.link);
            this.$refs.image.value = '';
          })
      },
      initDropzone() {
        new Dropzone(this.$refs.Dropzone, {
          url: this.url,
          paramName: 'image',
          acceptedFiles: 'image/*',
          method: 'post',
          headers: {
            'Cache-Control': null,
            'X-Requested-With': null,
            'Authorization': 'Client-ID ' + this.client
          },
          createImageThumbnails: false,
          previewTemplate: '<div style="display:none"></div>',
          success: (file, response) => {
            this.set(response.data.link);
            this.$refs.file.value = '';
          }
        });
      }
    },
    mounted() {
      this.initDropzone();
    }
  }
</script>